.card {
    height: 340px;
    width: 340px;
    flex-direction: column-reverse;
    display: flex;
    border-radius: 10px;
    position: relative;
}
.card-image {
    height: 340px;
    width: 340px;
    border-radius: 10px;
}
.house-cards {

    display: flex;
    flex-wrap: wrap;
    gap:50px;
    align-items: center;
    justify-content: center;
    background-color:#f6f6f6;
    border-radius: 25px;
    column-gap: 60px;
    row-gap: 50px;
    height: 100%;
    max-height: 829px;
    overflow: scroll;
    padding-top: 50px;
    width: 1240px;
    height: 830px;
  



}


/* peut on utiliser webkit ? */

.house-cards::-webkit-scrollbar {
    display: none;
}

.rental-location {
    color: white;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 52px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    
}
.rental-location p {
margin: 0;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;

    
}