    
.houseSlideShow {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.arrow__links {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1240px;

}
.arrow__links button{
    background-color: transparent;
    border: none ;
    height: 415px;

}


.displaySlideshow {

    display: flex;
    max-width: 1240px;
    height: 415px;
    


}